.loadingOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.2);
  font-size: 24px;
  z-index: 99999;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 55%;
  color: black;
}